<mat-toolbar color="primary" class="flex flex-row">
  <mat-icon svgIcon="deklaratorius" class="logo"></mat-icon>
  <span class="flex-grow"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
    <mat-icon>face</mat-icon>
  </button>
  <mat-menu
    #menu="matMenu"
    class="bg-white shadow-lg rounded-md border border-gray-200"
  >
    <div class="p-4">
      <p class="text-gray-600 font-medium mb-4">
        Prisijungęs {{ userInfo.first_name }}
      </p>
      <button
        mat-menu-item
        (click)="logout()"
        class="flex items-center hover:bg-gray-100 transition duration-150 ease-in-out"
      >
        <mat-icon class="text-gray-600">exit_to_app</mat-icon>
        <span class="pl-2 text-gray-700 font-medium">Atsijungti</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="h-full">
  <mat-drawer mode="side" opened>
    <mat-nav-list class="flex flex-col justify-between">
      <a mat-list-item routerLink="/" routerLinkActive="active">Pagrindinis</a>
      <a mat-list-item routerLink="./my-declarations" routerLinkActive="active"
        >Mano Deklaracijos</a
      >
      <a mat-list-item routerLink="./my-vehicles" routerLinkActive="active"
        >Mano Transporto Priemonės</a
      >
      <a
        mat-list-item
        routerLink="./damage-calculator"
        routerLinkActive="active"
        >Žalos Skaičiuoklė</a
      >
      <a mat-list-item>{{ userInfo.first_name }}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
