<mat-toolbar color="primary" class="flex flex-row">
  <span>Deklaratorius</span>
  <span class="flex-grow"></span>
  <button (click)="logout()" class="flex items-center logout">
    Atsijungti
    <mat-icon class="pl-2">exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="h-full">
  <mat-drawer mode="side" opened>
    <mat-nav-list class="flex flex-col justify-between">
      <a mat-list-item routerLink="/" routerLinkActive="active">Pagrindinis</a>
      <a mat-list-item routerLink="./my-declarations" routerLinkActive="active"
        >Mano Deklaracijos</a
      >
      <a mat-list-item routerLink="./my-vehicles" routerLinkActive="active"
        >Mano Transporto Priemonės</a
      >
      <a
        mat-list-item
        routerLink="./damage-calculator"
        routerLinkActive="active"
        >Žalos Skaičiuoklė</a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
