.logout {
    color: rgb(255, 255, 255);
    transition: color 0.5s ease-in-out;
}

.logout:hover {
    color: rgb(251, 79, 79);
}

.logo{
    filter: invert(1) sepia(1) saturate(1) hue-rotate(175deg);
    height: 55px;
    width: 110px;
}