<div class="flex items-center pt-4 pb-6">
  <div class="bg-blue-100 rounded-full p-2">
    <mat-icon class="text-red-500">info</mat-icon>
  </div>
  <p class="text-sm ml-4 text-gray-700">
    Prašome atkreipti dėmesį, kad tai yra bandomoji versija ir draudimo žalos
    išmoka gali skirtis nuo pateiktos.
  </p>
</div>

<div class="p-4 bg-white rounded-lg shadow-md">
  <div class="mb-4">
    <p class="text-gray-600">Pasirinkite pažeistas dalis:</p>
  </div>

  <div class="flex flex-wrap">
    <div *ngFor="let part of bodyParts" class="mb-2 w-1/2">
      <mat-checkbox
        [(ngModel)]="part.selected"
        (change)="updateTotalPrice()"
        color="primary"
      >
        {{ part.name }}
      </mat-checkbox>
    </div>
  </div>

  <div class="mt-4">
    <p class="text-lg text-gray-700">
      Galima draudimo išmoka: {{ totalPrice }}€
    </p>
  </div>
</div>
