<mat-horizontal-stepper [linear]="isLinear" class="w-1/2 flex mx-auto h-full">
  <mat-step>
    <ng-template matStepLabel>Pradžia</ng-template>
    <h1><strong>Pradžia</strong></h1>
    <mat-card>
      <mat-card-content>
        <div>
          <div class="flex flex-col items-start">
            <p>
              <strong>
                Prieš pradėdami pildyti, įsitikinkite kad pasirūpinote visomis
                saugumo priemonėmis
              </strong>
            </p>

            <p>Būtinos saugumo priemonės:</p>
            <div class="pt-2">
              <p class="flex items-center">
                <mat-icon class="mr-2">power</mat-icon>
                Įjunkite avarinius žibintus
              </p>
              <p class="flex items-center">
                <mat-icon class="mr-2">construction</mat-icon>
                Pastatykite avarinį ženklą pagal KET
              </p>
              <p class="flex items-center">
                <mat-icon class="mr-2">visibility</mat-icon>
                Apsivilkite liemenę su atšvaitais
              </p>
              <p class="flex items-center">
                <mat-icon class="mr-2">phone</mat-icon>
                Jei yra sužalotų asmenų - skambinkite nr.<strong> 112 </strong>
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" matStepperNext>
          Supratau
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="acceptTerms">
    <ng-template matStepLabel>Sąlygos</ng-template>
    <h1><strong>Sąlygos</strong></h1>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="acceptTerms">
          <div class="flex flex-col">
            <p class="flex items-center">
              <mat-icon class="mr-2">thumb_up_alt</mat-icon>
              Nėra sužalotų asmenų
            </p>
            <p class="flex items-center">
              <mat-icon class="mr-2">directions_car</mat-icon>
              Susidūrė tik 2 transporto priemonės
            </p>
            <p class="flex items-center">
              <mat-icon class="mr-2">home</mat-icon>
              Nėra padaryta žala kitam trečiųjų asmenų turtui
            </p>
            <p class="flex items-center">
              <mat-icon class="mr-2">flag</mat-icon>
              Abi transporto priemonės yra registruotos Lietuvoje
            </p>
            <p class="flex items-center">
              <mat-icon class="mr-2">location_city</mat-icon>
              Eismo įvykis įvyko Lietuvoje
            </p>
            <p class="flex items-center">
              <mat-icon class="mr-2">assignment_turned_in</mat-icon>
              Eismo įvykio dalyviai sutaria dėl to, kuris vairuotojas yra
              kaltininkas
            </p>
          </div>

          <mat-radio-group formControlName="options">
            <mat-radio-button value="option1" class="pt-4"
              >Patvirtinu, jog visos sąlygos galioja</mat-radio-button
            >
          </mat-radio-group>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" matStepperPrevious>
          Atgal
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!acceptTerms.valid"
        >
          Pirmyn
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Vairuotojų duomenys</ng-template>
    <h1><strong>Vairuotojų duomenys</strong></h1>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="firstFormGroup" class="flex flex-col">
          <div class="grid grid-cols-2 gap-8">
            <div>
              <p class="text-gray-600">Jūsų valstybiniai numeriai</p>
              <mat-form-field>
                <input
                  matInput
                  placeholder="XXX000"
                  formControlName="myLicensePlate"
                  (input)="onInput($event)"
                  class="mt-2"
                />
                <mat-error
                  *ngIf="
                    firstFormGroup.controls['myLicensePlate'].hasError(
                      'required'
                    )
                  "
                  class="text-red-600"
                >
                  Valstybinis numeris yra privalomas
                </mat-error>
                <mat-error
                  *ngIf="
                    firstFormGroup.controls['myLicensePlate'].hasError(
                      'pattern'
                    )
                  "
                  class="text-red-600"
                >
                  Valstybinis numeris yra netinkamo formato
                </mat-error>
              </mat-form-field>
              <button
                mat-button
                matSuffix
                mat-raised-button
                *ngIf="userInfo"
                (click)="openDialog()"
              >
                Pasirinkti iš turimų
              </button>
            </div>
            <div>
              <p class="text-gray-600">Jūsų el. paštas</p>
              <mat-form-field>
                <input
                  matInput
                  formControlName="myEmail"
                  placeholder="El. Paštas"
                  class="mt-2"
                />
              </mat-form-field>
            </div>
            <div>
              <p class="text-gray-600">Kito vairuotojo valstybiniai numeriai</p>
              <mat-form-field>
                <input
                  matInput
                  placeholder="XXX000"
                  formControlName="otherLicensePlate"
                  (input)="onInput($event)"
                  class="mt-2"
                />
                <mat-error
                  *ngIf="
                    firstFormGroup.controls['otherLicensePlate'].hasError(
                      'required'
                    )
                  "
                  class="text-red-600"
                >
                  Valstybinis numeris yra privalomas
                </mat-error>
                <mat-error
                  *ngIf="
                    firstFormGroup.controls['otherLicensePlate'].hasError(
                      'pattern'
                    )
                  "
                  class="text-red-600"
                >
                  Valstybinis numeris yra netinkamo formato
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <p class="text-gray-600">Kito vairuotojo el. paštas</p>
              <mat-form-field>
                <input
                  matInput
                  formControlName="otherEmail"
                  placeholder="El. Paštas"
                  class="mt-2"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="mt-4">
        <button
          mat-button
          matStepperPrevious
          class="mr-2 bg-gray-300 hover:bg-gray-400"
        >
          Atgal
        </button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!firstFormGroup.valid"
        >
          Pirmyn
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step label="Piešimas">
    <h1><strong>Eismo įvykio deklaracijos piešimas</strong></h1>
    <mat-card-content>
      <div id="draw-area">
        <canvas
          #canvasElement
          width="500"
          height="300"
          style="border: 1px solid black"
        ></canvas>
      </div>
      <button mat-raised-button class="mt-6" (click)="clearCanvas()">
        Išvalyti
      </button>
    </mat-card-content>

    <mat-card-actions class="mt-8">
      <button mat-button matStepperPrevious>Atgal</button>
      <button mat-raised-button color="primary" matStepperNext>Pirmyn</button>
    </mat-card-actions>
  </mat-step>

  <mat-step [stepControl]="timeAndPlace">
    <ng-template matStepLabel>Eismo įvykio laikas ir vieta</ng-template>
    <h1><strong>Eismo įvykio laikas ir vieta</strong></h1>
    <mat-card class="w-full">
      <mat-card-content>
        <form [formGroup]="timeAndPlace" class="flex flex-col space-y-4">
          <div class="flex space-x-4">
            <mat-form-field class="flex-1">
              <input
                matInput
                type="time"
                formControlName="time"
                placeholder="Laikas"
                class="w-full"
              />
            </mat-form-field>
            <mat-form-field class="flex-1">
              <input
                matInput
                formControlName="lat"
                placeholder="Platuma"
                class="w-full"
              />
            </mat-form-field>
            <mat-form-field class="flex-1">
              <input
                matInput
                formControlName="lng"
                placeholder="Ilguma"
                class="w-full"
              />
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-button class="mr-4" matStepperPrevious>Atgal</button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!timeAndPlace.valid"
        >
          Pirmyn
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <!-- <mat-step [stepControl]="pictureGroup">
    <ng-template matStepLabel>Nuotraukos</ng-template>
    <div class="px-6 py-4">
      <h1><strong>Nuotraukos</strong></h1>
      <mat-card>
        <mat-card-content>
          <form [formGroup]="pictureGroup">
            <h1 class="text-lg mb-4">Įvykio vieta</h1>
            <div class="mb-4">
              <input
                id="picture1"
                type="file"
                formControlName="picture1"
                (change)="onFileSelected1($event)"
                class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm"
              />
            </div>
            <h1 class="text-lg mb-4">
              <strong>{{ myLicensePlateControl?.value }}</strong> Valstybiniai
              numeriai
            </h1>
            <div class="mb-4">
              <input
                id="picture2"
                type="file"
                formControlName="picture2"
                (change)="onFileSelected2($event)"
                class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm"
              />
            </div>
            <h1 class="text-lg mb-4">
              <strong>{{ myLicensePlateControl?.value }}</strong> Transporto
              priemonės sugadinimai
            </h1>
            <div class="mb-4">
              <input
                id="picture3"
                type="file"
                formControlName="picture3"
                (change)="onFileSelected3($event)"
                class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm"
              />
            </div>
            <h1 class="text-lg mb-4">
              <strong>{{ otherLicensePlateControl?.value }}</strong>
              Valstybiniai numeriai
            </h1>
            <div class="mb-4">
              <input
                id="picture5"
                type="file"
                formControlName="picture5"
                (change)="onFileSelected5($event)"
                class="border-gray-300 focus:ring-indigo-500 focus:border-indigo-500 block w-full rounded-md shadow-sm"
              />
            </div>
            <h1 class="text-lg mb-4">
              <strong>{{ otherLicensePlateControl?.value }}</strong> Transporto
              priemonės sugadinimai
            </h1>
            <div class="mb-4">
              <input
                id="picture6"
                type="file"
                formControlName="picture6"
                (change)="onFileSelected6($event)"
              />
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button matStepperPrevious>Atgal</button>
          <button
            mat-raised-button
            color="primary"
            matStepperNext
            type="submit"
            [disabled]="!pictureGroup.valid"
          >
            Pirmyn
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-step> -->

  <mat-step [stepControl]="hitGroup">
    <ng-template matStepLabel>Sugadinimai</ng-template>
    <h1><strong>Sugadinimai</strong></h1>
    <mat-card class="bg-white rounded-lg shadow-md">
      <mat-card-content>
        <form [formGroup]="hitGroup">
          <mat-form-field class="w-full mb-4">
            <mat-label
              >Pasirinkti
              <strong>{{ myLicensePlateControl?.value }}</strong> pirminį
              smūgį</mat-label
            >
            <mat-select formControlName="myFirstHit" class="w-full">
              <mat-option *ngFor="let hit of hits" [value]="hit">
                {{ hit }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-full mb-4">
            <mat-label
              >Pasirinkti
              <strong>{{ otherLicensePlateControl?.value }}</strong> pirminį
              smūgį</mat-label
            >
            <mat-select formControlName="otherFirstHit" class="w-full">
              <mat-option *ngFor="let hit of hits" [value]="hit">
                {{ hit }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="flex justify-end">
        <button mat-button matStepperPrevious>Atgal</button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!hitGroup.valid"
        >
          Pirmyn
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="howGroup">
    <ng-template matStepLabel> Aplinkybės </ng-template>
    <h1><strong>Aplinkybės</strong></h1>
    <mat-card>
      <mat-card-content class="flex flex-col justify-center items-center">
        <form [formGroup]="howGroup" class="w-full max-w-md">
          <div class="flex flex-row items-center">
            <div class="flex-1">
              <p>
                <strong>{{ myLicensePlateControl?.value }}</strong>
              </p>
            </div>
            <div class="flex-1 text-right">
              <p>
                <strong>{{ otherLicensePlateControl?.value }}</strong>
              </p>
            </div>
          </div>
          <div *ngFor="let how of hows" class="flex flex-row items-center mb-2">
            <mat-checkbox
              [value]="how.value"
              [checked]="how.checked"
              (change)="onMyHowChange($event, how.label)"
              class="mr-2"
            ></mat-checkbox>
            <div class="flex-1 text-center break-words">{{ how.label }}</div>
            <mat-checkbox
              [value]="how.value"
              [checked]="how.checked"
              (change)="onOtherHowChange($event, how.label)"
              class="ml-2"
            ></mat-checkbox>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="flex justify-between">
        <button mat-button matStepperPrevious>Atgal</button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!howGroup.valid"
        >
          Pirmyn
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="driverData">
    <ng-template matStepLabel>Duomenys</ng-template>
    <h1><strong>Duomenys</strong></h1>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="driverData">
          <div class="flex flex-row">
            <div formGroupName="firstDriver" class="flex flex-col mr-4">
              <mat-form-field>
                <input matInput formControlName="name" placeholder="Vardas" />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="surname"
                  placeholder="Pavardė"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birthDate"
                  placeholder="Gimimo data"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="country"
                  placeholder="Valstybė"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="street"
                  placeholder="Adresas"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="phoneNumber"
                  placeholder="Tel. nr."
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="idNumber"
                  placeholder="Vairuotojo pažymėjimo nr."
                />
              </mat-form-field>
            </div>
            <div formGroupName="secondDriver" class="flex flex-col">
              <mat-form-field>
                <input matInput formControlName="name" placeholder="Vardas" />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="surname"
                  placeholder="Pavardė"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker2"
                  formControlName="birthDate"
                  placeholder="Gimimo data"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="country"
                  placeholder="Valstybė"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="street"
                  placeholder="Adresas"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="phoneNumber"
                  placeholder="Tel. nr."
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  formControlName="idNumber"
                  placeholder="Vairuotojo pažymėjimo nr."
                />
              </mat-form-field>
              <form [formGroup]="radioGroup">
                <mat-radio-group
                  formControlName="kaltininkas"
                  class="flex flex-col"
                >
                  <mat-radio-button value="Kaltininkas1"
                    >Kaltininkas
                    {{
                      firstFormGroup.get("myLicensePlate")?.value
                    }}</mat-radio-button
                  >
                  <mat-radio-button value="Kaltininkas2"
                    >Kaltininkas
                    {{
                      firstFormGroup.get("otherLicensePlate")?.value
                    }}</mat-radio-button
                  >
                </mat-radio-group>
              </form>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button matStepperPrevious>Atgal</button>
        <button
          mat-raised-button
          color="primary"
          (click)="sendData()"
          [disabled]="!driverData.valid"
        >
          Patvirtinti
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
