<h2 class="text-lg font-medium mb-4">Jūsų turimi valstybiniai numeriai</h2>
<mat-dialog-content class="pb-0">
  <ul class="divide-y divide-gray-200">
    <li
      *ngFor="let car of cars"
      class="py-3 cursor-pointer hover:bg-gray-100"
      (click)="selectPlate(car.license_plate)"
    >
      <div class="flex items-center">
        <div class="flex-1 min-w-0">
          <div class="text-sm font-medium text-gray-900 truncate">
            {{ car.license_plate }}
          </div>
        </div>
      </div>
    </li>
  </ul>
</mat-dialog-content>
