<div class="flex items-center justify-center h-screen content">
  <mat-card>
    <p *ngIf="error" class="flex pb-2 error">Slaptažodžiai nesutampa</p>
    <div class="flex flex-row">
      <form class="flex flex-col">
        <mat-form-field>
          <input
            matInput
            placeholder="Vartotojo Vardas"
            [(ngModel)]="username"
            name="username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Slaptažodis"
            [(ngModel)]="password"
            name="password"
            type="password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Pakartoti Slaptažodį"
            [(ngModel)]="retypePassword"
            name="password"
            type="password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="El. Paštas"
            [(ngModel)]="email"
            name="email"
            type="email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Vardas"
            [(ngModel)]="firstName"
            name="name"
            type="name"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Pavardė"
            [(ngModel)]="lastName"
            name="name"
            type="name"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register()">
          Registruotis
        </button>
      </form>
    </div>
  </mat-card>
</div>
